img {
    width: 250px; 
    border-radius: 50%;
    border: black 1px solid;
    margin: 12px;
}
h1{
    font-size: 60px;
    text-align: center;
    padding-left: 100px;
    float: right;
}
h3{
    background-color: rgb(68, 201, 201);
}
.head{
    background-color: rgb(68, 128, 128);
}
body{
    margin: 0px;

}
.contain {
    display: flex; justify-content: center
}
.pirlab{
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 150%;
}
#divi2{
    position: absolute;
    height: inherit;
    left: 8%;
    width: 30%;
    background-color: rgb(250, 250, 250);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: justify;
}
#divi1{
    position:absolute;
    height: inherit;
    left: 42%;
    width: 50%;
    background-color: rgb(250, 250, 250);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: justify;
}
ul{
    list-style-type: square;
    line-height: 150%;
}

.habili{
    position:absolute;
    height: inherit;
    left: 8%;
    width: 30%;
    top: 126%;
    background-color: rgb(250, 250, 250);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: justify;
}
#borde{
    position:absolute;
    height: inherit;
    left: 8%;
    width: 30%;
    top: 175%;
    background-color: rgb(250, 250, 250);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: justify;
}
#expec{
    margin-top: 57%;
}
